In [84]:
import pandas as pd

# Replace 'your_file.xlsx' with the path to your Excel file
excel_file_path = 'SIPRI-Milex-data-1949-2022.xlsx'

# Read the Excel file into a DataFrame
df = pd.read_excel(excel_file_path, sheet_name='Regional totals', header=None)  # Replace 'Sheet1' with your sheet name

/opt/homebrew/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [85]:
# Now, you can work with the data in 'desired_sheet_data'
print(df.head())

                                                  0   1   2   3    4   5   6   \
0  Military expenditure by region in constant US ... NaN NaN NaN  NaN NaN NaN
1  Figures are in US$ b., at constant 2021 prices... NaN NaN NaN  NaN NaN NaN
2  Figures do not always add up to totals because... NaN NaN NaN  NaN NaN NaN
3  Figures in red indicate that more than 10% of ... NaN NaN NaN  NaN NaN NaN
4  The symbol ". ." indicates that data is unavai... NaN NaN NaN  NaN NaN NaN

   7   8   9   ...  29  30  31  32  33  34  35   36  37   38
0 NaN NaN NaN  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN  NaN
1 NaN NaN NaN  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN  NaN
2 NaN NaN NaN  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN  NaN
3 NaN NaN NaN  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN  NaN
4 NaN NaN NaN  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN  NaN

[5 rows x 39 columns]

In [86]:
# Remove the first 13 rows
df = df.iloc[11:]
# Now, df contains the data without the first 13 rows

# If you want to reset the index after dropping rows
df.reset_index(drop=True, inplace=True)

In [87]:

# Now, you can work with the data in 'desired_sheet_data'
print(df.head())

                                                  0            1   \
0  4) The set of countries excluded from the tota...          NaN
1                                                NaN          NaN
2                                             Region  1988.000000
3                                              World  1602.114648
4                                             Africa    16.220427

            2            3          4            5            6            7   \
0          NaN          NaN        NaN          NaN          NaN          NaN
1          NaN          NaN        NaN          NaN          NaN          NaN
2  1989.000000  1990.000000       1991  1992.000000  1993.000000  1994.000000
3  1584.149394  1526.849064        ...  1287.923872  1234.527911  1243.847092
4    16.289293    16.336442  14.424379    13.388957    15.201963    60.134767

           8            9   ...           29           30           31  \
0         NaN          NaN  ...          NaN          NaN          NaN
1         NaN          NaN  ...          NaN          NaN          NaN
2  1995.00000  1996.000000  ...  2016.000000  2017.000000  2018.000000
3  1162.89652  1111.551007  ...  1871.667592  1893.086162  1950.160452
4    36.10194    12.518952  ...    38.596849    37.613867    36.310618

            32           33           34           35                     36  \
0          NaN          NaN          NaN          NaN                    NaN
1          NaN          NaN          NaN          NaN                    NaN
2  2019.000000  2020.000000  2021.000000  2022.000000  2022 (current prices)
3  2028.619652  2091.927010  2104.065982  2181.920961            2239.870817
4    37.242019    38.986284    39.996108    37.867271              39.374877

   37                          38
0 NaN                         NaN
1 NaN                         NaN
2 NaN           Omitted countries
3 NaN                         NaN
4 NaN  Djibouti, Eritrea, Somalia

[5 rows x 39 columns]

In [78]:
# Display the current column names
print("Existing columns:", df.columns)

Existing columns: Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38],
           dtype='int64')

In [105]:
# Define a function to remove last, second-last, and third-last elements in each row  2022 (current prices), blank and Omitted countries 
def remove_last_elements(row):
    return row.iloc[:-3].tolist()

# Apply the custom function to each row
df = pd.DataFrame(df.apply(remove_last_elements, axis=1).tolist())

# Reset the index if needed
df.reset_index(drop=True, inplace=True)

In [106]:
# Define a list of values you want to keep in the 'Region' column
desired_values = ['Region', 'World', 'Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East']

# Select rows where the first column values match the specified set
selected_rows = df[df.iloc[:, 0].isin(desired_values)]


# Display the resulting selected rows
print(selected_rows)

                0            1            2            3           4   \
2           Region  1988.000000  1989.000000  1990.000000        1991
3            World  1602.114648  1584.149394  1526.849064         ...
4           Africa    16.220427    16.289293    16.336442   14.424379
7         Americas   761.570284   753.962990   720.280096  637.136669
11  Asia & Oceania   142.364304   149.774377   156.782954    159.6096
17          Europe   615.578253   600.993269   545.480052         ...
21     Middle East    66.381381    63.129464    87.969521   97.638297

             5            6            7            8            9   ...  \
2   1992.000000  1993.000000  1994.000000  1995.000000  1996.000000  ...
3   1287.923872  1234.527911  1243.847092  1162.896520  1111.551007  ...
4     13.388957    15.201963    60.134767    36.101940    12.518952  ...
7    667.886375   637.638277   609.404506   573.627249   544.139430  ...
11   167.216444   171.114586   172.185882   177.142871   181.573291  ...
17   356.862281   332.801020   326.080921   303.069902   301.184586  ...
21    82.569815    77.772065    76.041015    72.954559    72.134748  ...

             26           27           28           29           30  \
2   2013.000000  2014.000000  2015.000000  2016.000000  2017.000000
3   1838.842350  1834.008227  1862.010987  1871.667592  1893.086162
4     40.451147    42.409920    40.542074    38.596849    37.613867
7    860.549671   812.959867   798.047897   794.817380   793.592397
11   410.487797   432.308056   457.150800   481.119817   502.712236
17   344.603116   348.400116   357.440363   369.176994   362.061065
21   182.750619   197.930268   208.829852   187.956552   197.106597

             31           32           33           34           35
2   2018.000000  2019.000000  2020.000000  2021.000000  2022.000000
3   1950.160452  2028.619652  2091.927010  2104.065982  2181.920961
4     36.310618    37.242019    38.986284    39.996108    37.867271
7    816.716059   858.320882   897.711190   888.417003   891.050143
11   523.044350   549.008714   567.834941   580.437282   595.900769
17   368.355646   387.264540   407.922814   420.706067   477.040428
21   205.733779   196.783497   179.471781   174.509522   180.062349

[7 rows x 36 columns]

In [107]:
# Find the index of the '2022 (current prices)' column
print(selected_rows.columns)

RangeIndex(start=0, stop=36, step=1)

In [108]:
print(selected_rows)

                0            1            2            3           4   \
2           Region  1988.000000  1989.000000  1990.000000        1991
3            World  1602.114648  1584.149394  1526.849064         ...
4           Africa    16.220427    16.289293    16.336442   14.424379
7         Americas   761.570284   753.962990   720.280096  637.136669
11  Asia & Oceania   142.364304   149.774377   156.782954    159.6096
17          Europe   615.578253   600.993269   545.480052         ...
21     Middle East    66.381381    63.129464    87.969521   97.638297

             5            6            7            8            9   ...  \
2   1992.000000  1993.000000  1994.000000  1995.000000  1996.000000  ...
3   1287.923872  1234.527911  1243.847092  1162.896520  1111.551007  ...
4     13.388957    15.201963    60.134767    36.101940    12.518952  ...
7    667.886375   637.638277   609.404506   573.627249   544.139430  ...
11   167.216444   171.114586   172.185882   177.142871   181.573291  ...
17   356.862281   332.801020   326.080921   303.069902   301.184586  ...
21    82.569815    77.772065    76.041015    72.954559    72.134748  ...

             26           27           28           29           30  \
2   2013.000000  2014.000000  2015.000000  2016.000000  2017.000000
3   1838.842350  1834.008227  1862.010987  1871.667592  1893.086162
4     40.451147    42.409920    40.542074    38.596849    37.613867
7    860.549671   812.959867   798.047897   794.817380   793.592397
11   410.487797   432.308056   457.150800   481.119817   502.712236
17   344.603116   348.400116   357.440363   369.176994   362.061065
21   182.750619   197.930268   208.829852   187.956552   197.106597

             31           32           33           34           35
2   2018.000000  2019.000000  2020.000000  2021.000000  2022.000000
3   1950.160452  2028.619652  2091.927010  2104.065982  2181.920961
4     36.310618    37.242019    38.986284    39.996108    37.867271
7    816.716059   858.320882   897.711190   888.417003   891.050143
11   523.044350   549.008714   567.834941   580.437282   595.900769
17   368.355646   387.264540   407.922814   420.706067   477.040428
21   205.733779   196.783497   179.471781   174.509522   180.062349

[7 rows x 36 columns]

In [109]:
# Export the new data to a CSV file
selected_rows.to_csv('regional_data.csv', index=False, header=False)